.inline {
    display: inline;
}

.centered {
    margin: auto;
}

.after_header{
    margin-top: 90px;
 }

 .margin-b10{
     margin-bottom: 10px;
 }
 
.innerPage {
    max-width: 1024px;
}

body {
    width: 1024px;
    margin: auto;
}
img[title="MIF"] {
    height: 60px;
    position: relative;
    top: 10px;
}

header {
    position: fixed;
    top: 0;
    display: block;
    background-color: rgb(7, 199, 173);
    left: 0;
    right: 0;
}

p a {
    text-decoration: inherit;
}

nav {
    float: right;
}

nav > a  {
    font: Arial;
    color: black;
    background-color: white;
    border: 2px rgb(1, 13, 121) solid;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 20px;
    
}

h3[danger] {
    color: red;
}

table {
    width: 50%;
    border: 2px;
    
}

td, th {
    background-color: rgb(184, 219, 208);
    padding: 15px;
    text-align: left;
}

th {
    background: rgb(20,150,120)
}

aside {
    text-align: center;
    background-color: lavender;
}

#it {
    border-color: rgb(20,235,10);
    border-width: 3px;
    border-style: solid;
}

@media screen and (max-width: 620px) {
    header {
        margin: auto;
    }

    nav {
        float: none !important; 
        display: block !important; 
    }

    nav > a {
        top: 5px;
    }
}
